db:
  - dbhost: localhost
    dbuser: zabbix
    dbpassword: zabbix_local
    dbport: 15432
    dbname: zabbix_local
    sizelimit: 400    # Go

sshAsserts:
  GROUP1:
    - cmd: "systemctl status cron > /dev/null 2>&1; echo $?"
      expected: "0"
      title: Check cron
  GROUP2:
    - cmd: echo "titi" | awk '($1=="titi"){ print $0 }' | wc -l
      expected: "1"
      title: check script.sh
    - cmd: echo foo
      expected: "foo"
      title: Check echo

sshServers:
  GROUP1:
    - host: 10.0.50.10
      user: vagrant
      password: 
      sshkey: TSTDIR/.vagrant/machines/ex-0/virtualbox/private_key
    - host: 10.0.50.11
      user: vagrant
      password: 
      sshkey: TSTDIR/.vagrant/machines/ex-1/virtualbox/private_key
  GROUP2:
    - host: 10.0.50.12
      user: vagrant
      password: 
      sshkey: TSTDIR/.vagrant/machines/ex-2/virtualbox/private_key

assertsHTTP:
  - host: https://www.google.fr
    #hostheader: real.dns.fr
    title: Test de Google

  - host: https://www.docker.com
    title: Test https://www.docker.com

  #- host: https://www.docker.fr
  #  title: Test https://www.docker.fr

  - host: https://github.com
    title: Test https://github.com

zbxCtl:
  apiEndpoint: "http://localhost:8080/api_jsonrpc.php"
  user: "Admin"
  password: "zabbix"
  since: 172800   # 2 days
  severityThreshold: 1